* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-color-1: #fff;
  line-height: 1.4;
  font-size: 16px;
}

.wrapper {
  margin: 0 10px;
}

/* HEADER */

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 50px;
}
.header-icon {
  transform: scale(0.7);
  height: 90%;
  padding: 5px 0;
}

.hero {
  color: var(--text-color-1);
  background-color: rgb(71, 162, 242);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main-title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 25%;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: rgb(1, 160, 1);
  color: #fff;
  border-radius: 30px;
  border: none;
}

.hero-text {
  margin-bottom: 10px;
}

/* BENEFIT */

.benefit-section {
  padding: var(--padding-left);
}
.section-title {
  text-align: center;
}
.benefit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.benefit-text {
  width: 75%;
}
.benefit-img {
  width: 25%;
  padding: var(--padding-left);
}

.benefit-img img {
  width: 90%;
}

/* FOOTER */

.footer {
  color: var(--text-color-1);
  background-color: black;
  padding: var(--padding-left);
}

.footer a {
  color: var(--text-color-1);
  text-decoration: none;
}

.footer-row-1 {
  display: flex;
  justify-content: end;
  align-items: baseline;
}

.footer-row-1 img {
  padding-left: var(--padding-left);
  transform: scale(0.8) translateY(25%);
}
